<div class="container">
  <h1>Welcome to Chang's Bakery!</h1>
  <p>What do you want to order</p>

  <p>Please enter your detail</p>
  <form name = "firstname" form action="/cool_url" method="get">
    First name: <input type="text" name="firstname">
    <input type="submit" value="Submit">
  </form>
  
    <form name = "lastname" form action="/cool_url" method="post">
    Last name: <input type="text" name="lastname">
    <input type="submit" value="Submit">
  </form>
  
  <form name = "gender" form action="/cool_url" method="post">
    <input type="radio" name="sex" value="male">Male<br>
    <input type="radio" name="sex" value="female">Female
    <input type="submit" value="Submit">
  </form>
  
  <form name = "vehicle" form action="/cool_url" method="get">
    <input type="checkbox" name="vehicle" value="Bike">I have a bike<br>
    <input type="checkbox" name="vehicle" value="Car">I have a car 
    <input type="submit" value="Submit">
  </form>
  
  <p>What do you want to order:</p>
  
  <form name = "order" form action="/cool_url" method="POST">
    <select name = "select_box">
      <option>Plain Bread</option>
      <option>MultiGrain Bread</option>
      <option>Polo Bun</option>
      <input type="submit" value="Submit">
    </select>
  </form>
  
 </div>